$primaryColor: #39cdcc;
$secondaryColor: #213f7d;
$white: #ffffff;
$red: #e4033b;

$fontFamily: "Work Sans", sans-serif;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 660px;
$tablet-width: 768px;
$laptop-width: 1024px;
